# Dependency directories
node_modules/

# Environment variables file
.env

# Trading Data log
data_log.csv

# User Settings
settings.json
trading_state.json
fgi_log.csv
saveState.json

# User-specific files
/user/*
!/user/.gitkeep